li{
    list-style-type: none;
}
.recentReview{
    display: flex;
}

.cigarItem{
    text-align: center;
    width: 12%;
    margin: 30px;
    padding: 20px;
    background-color: black;
    color: white;
}

.cigarItem > img{
    width: 80%;
    height: 50%;
    object-fit: contain;
}

.newItem{
    display: flex;
}

.recenItem > div{
    text-align: end;
}

.recentItem{
    text-align: center;
    width: 12%;
    margin: 30px;
    padding: 20px;
    background-color: black;
    color: white;
}

.recentItem > img{
    width: 80%;
    height: 50%;
    object-fit: contain;
}

.Rank{
    position: fixed;
    top: 30%;
    right: 3%;
    width: 20%;
    height: 40%;
    background-color: cadetblue;
    text-align: center;
}

.selectRank{
    display: flex;
    justify-content: space-between;
    margin: 4%;
    border-bottom: 1px solid darkgray;
}
.selectRank > span{
    border-bottom: 2px solid black;
}
.Rank ul {
    
    position: absolute;
    padding: 0px;
}

.Rank ul > li{
    font-size: 20px;
    padding: 5px;
}
